@import "scss-vars";

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 30px $main-color;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}

.App {
  background-color: #3c3c3c;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  font-size: 12px;
}

.content-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border: 2px solid darkgray;
  border-top: 0;
  background-color: #333333;
  overflow: hidden;
}

.container-horizontal {
  display: flex;
  flex-direction: row;
}

.container-vertical {
  display: flex;
  flex-direction: column;
}

.row-up {
  flex-grow: 0;
  border-bottom: 2px solid darkgray;
  display: flex;
}

.row-down {
  flex-grow: 1;
  flex-direction: row;
  overflow: hidden;
}

.chartview {
  flex-grow: 1;
}
