@import "../../../components/app/scss-vars";

.center-container {
  display: flex;
  flex-direction: column;
  border-right: 2px solid darkgray;
  min-width: 300px;
}

.center-container table {
  border-collapse: collapse;
  color: $main-color;
}

